.zhong{
	width: 650px;
	height:640px;
	border: 1px solid red;
	margin:20px auto;
	border-radius: 4%/40%;
	background-color: #03D9FF;
	opacity: 0.4;

}
.top{
	width: 120px;
	height:25px;
	margin: 10px auto;
	font-size: 3em;
	color: black;

}
.button{

	width: 80px;
	height: 25px;
	float:right;
	margin:20px 40px 20px 0px;
	border:1px solid red;
}
.xianshi{

	width :500px;
	height:500px;
	margin:80px auto;

}

.xiao{
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-size: 24px;
	border:1px solid red;
	float:left;
	margin-left:-1px;
	margin-top: -1px;
	background-color: yellow;
	color: yellow;
	border-radius: 8%;


}